!= js()
    section#contacts2-36.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(60, 60, 60);')
      .mbr-section__container.container
        .mbr-contacts.mbr-contacts--wysiwyg.row
          .col-sm-6
            figure.mbr-figure.mbr-figure--wysiwyg.mbr-figure--full-width.mbr-figure--no-bg
              .mbr-figure__map.mbr-figure__map--short.mbr-google-map
                p.mbr-google-map__marker(data-coordinates='40.748384,-73.9854792')
          .col-sm-6
            .row
              .col-sm-5.col-sm-offset-1
                p.mbr-contacts__text
                  strong ADDRESS
                  br
                  | 1234 Street Name
                  br
                  | City, AA 99999
                  br
                  br
                  strong CONTACTS
                  br
                  | Email: support@mobirise.com
                  br
                  | Phone: +1 (0) 000 0000 001
                  br
                  | Fax: +1 (0) 000 0000 002
              .col-sm-6
                p.mbr-contacts__text
                  strong LINKS
                ul.mbr-contacts__list
                  li
                    a.text-gray(href='https://mobirise.com/bootstrap-template/') Bootstrap one page template
                    a.mbr-contacts__link.text-gray(href='https://mobirise.com/bootstrap-template/')
                  li
                    a.text-gray(href='https://mobirise.com/bootstrap-template/') Bootstrap basic template
                    a.mbr-contacts__link.text-gray(href='https://mobirise.com/bootstrap-template/')
                  li
                    a.text-gray(href='https://mobirise.com/bootstrap-template/') Bootstrap gallery template
                  li
                    a.text-gray(href='https://mobirise.com/bootstrap-template/') Bootstrap responsive template
                  li
                    br
    footer#footer1-37.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(68, 68, 68);')
      .mbr-section__container.container
        .mbr-footer.mbr-footer--wysiwyg.row
          .col-sm-12
            p.mbr-footer__copyright
            p
              | Copyright (c) 2016 Company Name.
            p

script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/SmoothScroll.js')
script(src='../js/jquery.mb.YTPlayer.min.js')
script(src='../js/jarallax.js')
script(src='../js/script.js')
script(src='../js/bootstrap-carousel-swipe.js')
script(src='../js/social-likes.js')
script(src='../js/imagesloaded.pkgd.min.js')
script(src='../js/masonry.pkgd.min.js')
script(src='https://maps.googleapis.com/maps/api/js')