html

  head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='generator', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', href='../img/discover-mobile-350x350-16.png', type='image/x-icon')
        meta(name='description', content='Free Bootstrap Template')
        title Mobirise Template
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:700,400&subset=cyrillic,latin,greek,vietnamese')
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='css/mbr-additional.css', type='text/css')
        link(rel='stylesheet', href='css/socicon.min.css')
        link(rel='stylesheet', href='css/animate.min.css')
        link(rel='stylesheet', href='css/socicon.min.css')
        link(rel='stylesheet', href='css/mbr-additional.css', type='text/css')

    title= _path
    != css()