extends layout

block content
        section#menu-93.mbr-navbar.mbr-navbar--freeze.mbr-navbar--absolute.mbr-navbar--transparent.mbr-navbar--sticky.mbr-navbar--auto-collapse
                  .mbr-navbar__section.mbr-section
                    .mbr-section__container.container
                      .mbr-navbar__container
                        .mbr-navbar__column.mbr-navbar__column--s.mbr-navbar__brand
                          span.mbr-navbar__brand-link.mbr-brand.mbr-brand--inline
                            span.mbr-brand__logo
                              a(href='/')
                                img.mbr-navbar__brand-img.mbr-brand__img(src='../img/discover-mobile-350x350-53.png', alt='Mobirise')
                            span.mbr-brand__name
                              a.mbr-brand__name.text-white(href='/') MOBIRISE
                        .mbr-navbar__hamburger.mbr-hamburger.text-white
                          span.mbr-hamburger__line
                        .mbr-navbar__column.mbr-navbar__menu
                          nav.mbr-navbar__menu-box.mbr-navbar__menu-box--inline-right
                            .mbr-navbar__column
                              ul.mbr-navbar__items.mbr-navbar__items--right.mbr-buttons.mbr-buttons--freeze.mbr-buttons--right.btn-decorator.mbr-buttons--active
                                li.mbr-navbar__item
                                  a.mbr-buttons__link.btn.text-white(href='one-page') ONE PAGE
                                li.mbr-navbar__item
                                  a.mbr-buttons__link.btn.text-white(href='slider') SLIDER
                                li.mbr-navbar__item
                                  a.mbr-buttons__link.btn.text-white(href='video-background') VIDEO BG
                                li.mbr-navbar__item
                                  a.mbr-buttons__link.btn.text-white(href='blog') BLOG
                            .mbr-navbar__column
                              ul.mbr-navbar__items.mbr-navbar__items--right.mbr-buttons.mbr-buttons--freeze.mbr-buttons--right.btn-inverse.mbr-buttons--active
                                li.mbr-navbar__item
                                  a.mbr-buttons__btn.btn.btn-default(href='https://mobirise.com/bootstrap-template/mobirise-free-template.zip') DOWNLOAD
        section#content5-92.content-2.simple.col-1.col-undefined.mbr-parallax-background.mbr-after-navbar(style='background-image: url(../img/iphone-6-458153-1920-1920x1285-12.jpg);')
              .mbr-overlay(style='opacity: 0.6; background-color: rgb(0, 0, 0);')
              .container
                .row
                  div
                    .thumbnail
                      .caption
                        h3 FREE BOOTSTRAP TEMPLATE
                        div
                          p
                            Make your own bootstrap-based site in minutes! 
                            br
        section#features1-108.content-2.col-4(style='background-color: rgb(239, 239, 239);')
          .container
            .row
              div
                .thumbnail
                  .image
                    a(href='one-page')
                      img.undefined(src='../img/one-page-2509x1670-67.jpg')
                  .caption
                    div
                      h3 ONE PAGE BOOTSTRAP TEMPLATE DEMO
                    p.group
                      a.btn.btn-default(href='one-page') VIEW DEMO
              div
                .thumbnail
                  .image
                    a(href='slider')
                      img.undefined(src='../img/slider-2511x1674-11.jpg')
                  .caption
                    div
                      h3 FULL SCREEN SLIDER HEADER DEMO
                    p.group
                      a.btn.btn-default(href='slider') VIEW DEMO
              div
                .thumbnail
                  .image
                    a(href='video-background')
                      img.undefined(src='../img/video-bg-2510x1672-94.jpg')
                  .caption
                    div
                      h3 VIDEO BACKGROUND JUMBOTRON DEMO
                    p.group
                      a.btn.btn-default(href='video-background') VIEW DEMO
              div
                .thumbnail
                  .image
                    a(href='blog')
                      img.undefined(src='../img/blog-2511x1670-3.jpg')
                  .caption
                    div
                      h3 BOOTSTRAP BLOG TEMPLATE DEMO
                    p.group
                      a.btn.btn-default(href='blog') VIEW DEMO
        section#header3-109.mbr-section
          .mbr-section__container.container.mbr-section__container--first
            .mbr-header.mbr-header--wysiwyg.row
              .col-sm-8.col-sm-offset-2
                h3.mbr-header__text MOBIRISE FREE BOOTSTRAP TEMPLATE
                p.mbr-header__subtext Free and easy-to-use bootstrap theme
        section#content1-96.mbr-section
          .mbr-section__container.container.mbr-section__container--middle
            .row
              .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
                p Mobirise Template is a free bootstrap template for any business, portfolio websites or blogs. Great for product, services landing pages, it is 100% mobile-friendly and looks amazing on any device. The theme includes a lot of rich features and addons that you can use as a great starting point for your next Bootstrap based project. The template is free for commercial and personal use; backlinks are not required but always appreciated.
                blockquote
                  p
                    em FEATURES:
                  ul
                    li
                      em     Clear HTML5 and CSS3
                    li
                      em     Bootstrap 3
                    li
                      em     Grid System and Responsive Design
                    li
                      em     Touch Swipe Support
                    li
                      em     Blog Page
                    li     Full-width Slider
                    li
                      em     Parallax Background
                    li
                      em     SEO Optimized
                    li
                      em     Google Fonts Support
                    li
                      em     Bootstrap Carousel
                    li
                      em     Responsive Pricing Tables
                    li
                      em     Video Background
                    li
                      em     Hamburger Mobile Menu
                    li
                      em     Sticky Header Menu
                    li
                      em     Contact Form
                    li
                      em     Google Fonts
                    li
                      em     Google Maps
                    li
                      em Drag-n-drop Site Builder 
                        a(href='https://mobirise.com/', target='_blank') Included
                      br
                    li
                      em     Responsive Masonry Gallery with Lightbox
                      br
                    li
                      em     Bootstrap Components Compatible
                    li
                      em     Social Buttons - Share and Follow Us
                    li
                      em     All files are well commented and organized
                      br
                    li
                      em     Crossbrowser Compatible
                  p
                    em
                      br
        section#buttons1-115.mbr-section
          .mbr-section__container.container.mbr-section__container--middle
            .row
              .col-sm-8.col-sm-offset-2
                .mbr-buttons.mbr-buttons--center
                  a.mbr-buttons__btn.btn.btn-lg.btn-warning(href='https://mobirise.com/bootstrap-template/mobirise-free-template.zip') DOWNLOAD THEME NOW!
        section#header3-110.mbr-section
          .mbr-section__container.container.mbr-section__container--middle
            .mbr-header.mbr-header--wysiwyg.row
              .col-sm-8.col-sm-offset-2
                h3.mbr-header__text LIVE DEMOS
        section#image2-97.mbr-section
          .mbr-section__container.container.mbr-section__container--middle
            .row
              .col-sm-8.col-sm-offset-2
                figure.mbr-figure.mbr-figure--wysiwyg.mbr-figure--full-width.mbr-figure--caption-outside-bottom.mbr-figure--no-bg
                  div
                    a(href='one-page.html')
                      img.mbr-figure__img(src='../img/one-page-2509x1670-22.jpg')
                  figcaption.mbr-figure__caption.mbr-figure__caption--no-padding
                    small.mbr-figure__caption-small The included one-page demo comes with a fresh and catchy look. Parallax background scrolling makes it smooth and elegant. The template offers subtle colors for buttons and fonts that make it look professional.
        section#image2-113.mbr-section
          .mbr-section__container.container.mbr-section__container--middle
            .row
              .col-sm-8.col-sm-offset-2
                figure.mbr-figure.mbr-figure--wysiwyg.mbr-figure--full-width.mbr-figure--caption-inside-bottom
                  div
                    a(href='video-background.html')
                      img.mbr-figure__img(src='../img/video-bg-2510x1672-73.jpg')
        section#image2-114.mbr-section
          .mbr-section__container.container.mbr-section__container--last
            .row
              .col-sm-8.col-sm-offset-2
                figure.mbr-figure.mbr-figure--wysiwyg.mbr-figure--full-width.mbr-figure--caption-inside-bottom
                  div
                    a(href='blog.html')
                      img.mbr-figure__img(src='../img/blog-2511x1670-64.jpg')
        section#msg-box3-117.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-parallax-background(style='background-image: url(../img/imac-605421-1920-1920x1275-41.jpg);')
          .mbr-overlay(style='opacity: 0.8; background-color: rgb(255, 255, 255);')
          .mbr-section__container.container.mbr-section__container--first
            .mbr-header.mbr-header--wysiwyg.row
              .col-sm-8.col-sm-offset-2
                h3.mbr-header__text FREE LICENSE TERMS
          .mbr-section__container.container.mbr-section__container--middle
            .row
              .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
                ul
                  li
                    | Mobirise Bootstrap Template is free, you may use it in any personal or business projects without any charge. Backlinks and credits are appreciated but not mandatory.
                  li
                    | You may not redistribute or resale this template, modified or unmodified.
                    br
          .mbr-section__container.container.mbr-section__container--last
            .row
              .col-sm-8.col-sm-offset-2
                .mbr-buttons.mbr-buttons--center
                  a.mbr-buttons__btn.btn.btn-lg.btn-default(href='https://mobirise.com/bootstrap-template/mobirise-free-template.zip') DOWNLOAD TEMPLATE