extends layout

block content
    section#menu-93.mbr-navbar.mbr-navbar--freeze.mbr-navbar--absolute.mbr-navbar--transparent.mbr-navbar--sticky.mbr-navbar--auto-collapse
          .mbr-navbar__section.mbr-section
            .mbr-section__container.container
              .mbr-navbar__container
                .mbr-navbar__column.mbr-navbar__column--s.mbr-navbar__brand
                  span.mbr-navbar__brand-link.mbr-brand.mbr-brand--inline
                    span.mbr-brand__logo
                      a(href='/')
                        img.mbr-navbar__brand-img.mbr-brand__img(src='../img/discover-mobile-350x350-53.png', alt='Mobirise')
                    span.mbr-brand__name
                      a.mbr-brand__name.text-white(href='/') MOBIRISE
                .mbr-navbar__hamburger.mbr-hamburger.text-white
                  span.mbr-hamburger__line
                .mbr-navbar__column.mbr-navbar__menu
                  nav.mbr-navbar__menu-box.mbr-navbar__menu-box--inline-right
                    .mbr-navbar__column
                      ul.mbr-navbar__items.mbr-navbar__items--right.mbr-buttons.mbr-buttons--freeze.mbr-buttons--right.btn-decorator.mbr-buttons--active
                        li.mbr-navbar__item
                          a.mbr-buttons__link.btn.text-white(href='one-page') ONE PAGE
                        li.mbr-navbar__item
                          a.mbr-buttons__link.btn.text-white(href='slider.html') SLIDER
                        li.mbr-navbar__item
                          a.mbr-buttons__link.btn.text-white(href='video-background') VIDEO BG
                        li.mbr-navbar__item
                          a.mbr-buttons__link.btn.text-white(href='blog') BLOG
                    .mbr-navbar__column
                      ul.mbr-navbar__items.mbr-navbar__items--right.mbr-buttons.mbr-buttons--freeze.mbr-buttons--right.btn-inverse.mbr-buttons--active
                        li.mbr-navbar__item
                          a.mbr-buttons__btn.btn.btn-default(href='https://mobirise.com/bootstrap-template/mobirise-free-template.zip') DOWNLOAD
    section#header1-40.mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--full-height.mbr-section--bg-adapted.mbr-after-navbar(data-bg-video='http://www.youtube.com/watch?v=uNCr7NdOJgw')
      .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-box__magnet--center-left
        .mbr-overlay(style='opacity: 0.6; background-color: rgb(76, 105, 114);')
        .mbr-box__container.mbr-section__container.container
          .mbr-box.mbr-box--stretched
            .mbr-box__magnet.mbr-box__magnet--center-left
              .row
                .col-sm-6
                  .mbr-hero.animated.fadeInUp
                    h1.mbr-hero__text MOBIRISE TEMPLATE
                    p.mbr-hero__subtext
                      | Mobirise is a free bootstrap template with a clean, modern style - mobile optimized, and fully responsive.  Suitable for every type of small business, portfolio, one-page sites. Great as a starting point for your custom projects. 
                      br
                  .mbr-buttons.btn-inverse.mbr-buttons--left
                    a.mbr-buttons__btn.btn.btn-lg.animated.fadeInUp.delay.btn-warning(href='https://mobirise.com/bootstrap-template/mobirise-free-template.zip') FREE DOWNLOAD
                    a.mbr-buttons__btn.btn.btn-lg.btn-default.animated.fadeInUp.delay(href='https://mobirise.com/bootstrap-template/') LEARN MORE
        .mbr-arrow.mbr-arrow--floating.text-center
          .mbr-section__container.container
            a.mbr-arrow__link(href='#features1-42')
              i.glyphicon.glyphicon-menu-down
    section#features1-75.content-2.col-4(style='background-color: rgb(255, 255, 255);')
      .container
        .row
          div
            .thumbnail
              .image
                img.undefined(src='../img/google-slides-350x350-16.png')
              .caption
                div
                  h3 IMAGE/CONTENT SLIDER
                  p
                    | Sed egestas urna quam, sit amet euismod ligula commodo vitae. Cras hendrerit quam est, non dapibus turpis porta in. Fusce viverra, lectus vitae dignissim interdum, erat leo egestas velit, eu tincidunt tellus eros a mauris.
                p.group
                  a.btn.btn-default(href='https://mobirise.com/bootstrap-template/') LEARN MORE
          div
            .thumbnail
              .image
                img.undefined(src='../img/reminders-350x350-18.png')
              .caption
                div
                  h3 CONTACT FORMS
                  p
                    | Sed egestas urna quam, sit amet euismod ligula commodo vitae. Cras hendrerit quam est, non dapibus turpis porta in. Fusce viverra, lectus vitae dignissim interdum, erat leo egestas velit, eu tincidunt tellus eros a mauris.
                p.group
                  a.btn.btn-default(href='https://mobirise.com/bootstrap-template/') LEARN MORE
          div
            .thumbnail
              .image
                img.undefined(src='../img/photos-350x350-95.png')
              .caption
                div
                  h3 IMAGE GALLERY
                  p
                    | Sed egestas urna quam, sit amet euismod ligula commodo vitae. Cras hendrerit quam est, non dapibus turpis porta in. Fusce viverra, lectus vitae dignissim interdum, erat leo egestas velit, eu tincidunt tellus eros a mauris.
                p.group
                  a.btn.btn-default(href='https://mobirise.com/bootstrap-template/') LEARN MORE
          div
            .thumbnail
              .image
                img.undefined(src='../img/kindle-350x350-47.png')
              .caption
                div
                  h3 MOBILE MENU
                  p
                    | Sed egestas urna quam, sit amet euismod ligula commodo vitae. Cras hendrerit quam est, non dapibus turpis porta in. Fusce viverra, lectus vitae dignissim interdum, erat leo egestas velit, eu tincidunt tellus eros a mauris.
                p.group
                  a.btn.btn-default(href='https://mobirise.com/bootstrap-template/') LEARN MORE
    section#header1-76.mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--full-height.mbr-section--bg-adapted.mbr-parallax-background(style='background-image: url(../img/iphone-926663-1920-1920x1280-94.jpg);')
      .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-box__magnet--center-left
        .mbr-overlay(style='opacity: 0.5; background-color: rgb(41, 105, 176);')
        .mbr-box__container.mbr-section__container.container
          .mbr-box.mbr-box--stretched
            .mbr-box__magnet.mbr-box__magnet--center-left
              .row
                .col-sm-6
                  .mbr-hero.animated.fadeInUp
                    h1.mbr-hero__text FREE BOOTSTRAP TEMPLATE
                    p.mbr-hero__subtext
                      | Mobirise template is free and you can use it in your commercial as well as your personal works.
                      br
                  .mbr-buttons.btn-inverse.mbr-buttons--left
                    a.mbr-buttons__btn.btn.btn-lg.animated.fadeInUp.delay.btn-info(href='https://mobirise.com/bootstrap-template/mobirise-free-template.zip') FREE DOWNLOAD
                    a.mbr-buttons__btn.btn.btn-lg.btn-default.animated.fadeInUp.delay(href='https://mobirise.com/bootstrap-template/') LEARN MORE
        .mbr-arrow.mbr-arrow--floating.text-center
          .mbr-section__container.container
            a.mbr-arrow__link(href='#features1-77')
              i.glyphicon.glyphicon-menu-down
    section#features1-77.content-2.col-4(style='background-color: rgb(28, 73, 110);')
      .container
        .row
          div
            .thumbnail
              .image
                img.undefined(src='../img/maps-350x350-26.png')
              .caption
                div
                  h3 GOOGLE MAPS
                  p
                    | Duis sodales arcu eget gravida mollis. Sed condimentum nibh at dapibus semper. Etiam mattis leo at commodo eleifend. Integer mauris est, luctus vitae lobortis sed, tristique in eros.
                p.group
                  a.btn.btn-info(href='https://mobirise.com/bootstrap-template/') LEARN MORE
          div
            .thumbnail
              .image
                img.undefined(src='../img/facebook-350x350-71.png')
              .caption
                div
                  h3 SOCIAL BUTTONS
                  p
                    | Duis sodales arcu eget gravida mollis. Sed condimentum nibh at dapibus semper. Etiam mattis leo at commodo eleifend. Integer mauris est, luctus vitae lobortis sed, tristique in eros.
                p.group
                  a.btn.btn-info(href='https://mobirise.com/bootstrap-template/') LEARN MORE
          div
            .thumbnail
              .image
                img.undefined(src='../img/bytafont-350x350-38.png')
              .caption
                div
                  h3 GOOGLE FONTS
                  p
                    | Duis sodales arcu eget gravida mollis. Sed condimentum nibh at dapibus semper. Etiam mattis leo at commodo eleifend. Integer mauris est, luctus vitae lobortis sed, tristique in eros.
                p.group
                  a.btn.btn-info(href='https://mobirise.com/bootstrap-template/') LEARN MORE
          div
            .thumbnail
              .image
                img.undefined(src='../img/youtube-350x350-69.png')
              .caption
                div
                  h3 VIDEO BACKGROUND
                  p
                    | Duis sodales arcu eget gravida mollis. Sed condimentum nibh at dapibus semper. Etiam mattis leo at commodo eleifend. Integer mauris est, luctus vitae lobortis sed, tristique in eros.
                p.group
                  a.btn.btn-info(href='https://mobirise.com/bootstrap-template/') LEARN MORE
    section#slider2-78.mbr-slider.mbr-section.mbr-section--no-padding.carousel.slide(data-ride='carousel', data-wrap='true', data-interval='5000')
      .mbr-section__container.container.article-slider.mbr-section__container--isolated
        .col-sm-8.col-sm-offset-2
          ol.carousel-indicators
            li.active(data-app-prevent-settings='', data-target='#slider2-78', data-slide-to='0')
            li(data-app-prevent-settings='', data-target='#slider2-78', data-slide-to='1')
            li(data-app-prevent-settings='', data-target='#slider2-78', data-slide-to='2')
          .carousel-inner(role='listbox')
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center.active
              .mbr-box__magnet
                div
                  img(src='../img/iphone-6-458153-1920-1920x1285-16.jpg')
                  .row
                    .col-sm-8.col-sm-offset-2
                      .mbr-hero
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center
              .mbr-box__magnet
                div
                  img(src='../img/iphone-6-458151-1920-1920x1285-18.jpg')
                  .row
                    .col-sm-8.col-sm-offset-2
                      .mbr-hero
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center
              .mbr-box__magnet
                div
                  img(src='../img/iphone-6-458150-1920-1920x1285-95.jpg')
                  .row
                    .col-sm-8.col-sm-offset-2
                      .mbr-hero
          a.left.carousel-control(data-app-prevent-settings='', role='button', data-slide='prev', href='#slider2-78')
            span.glyphicon.glyphicon-menu-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(data-app-prevent-settings='', role='button', data-slide='next', href='#slider2-78')
            span.glyphicon.glyphicon-menu-right(aria-hidden='true')
            span.sr-only Next

    section#msg-box5-79.mbr-section.mbr-section--relative.mbr-parallax-background(style='background-image:url(../img/iphone-6-458150-1920-1920x1285-73.jpg) !important;')
      .mbr-overlay(style='opacity: 0.5; background-color: rgb(0, 168, 133);')
      .mbr-section__container.mbr-section__container--isolated.container
        .row
          .mbr-box.mbr-box--fixed.mbr-box--adapted
            .mbr-box__magnet.mbr-box__magnet--top-right.mbr-section__left.col-sm-6
              figure.mbr-figure.mbr-figure--adapted.mbr-figure--caption-inside-bottom.mbr-figure--full-width
                img.mbr-figure__img(src='../img/iphone-1032784-1920-1920x1440-16.jpg')
            .mbr-box__magnet.mbr-class-mbr-box__magnet--center-left.col-sm-6.mbr-section__right
              .mbr-section__container.mbr-section__container--middle
                .mbr-header.mbr-header--auto-align.mbr-header--wysiwyg
                  h3.mbr-header__text BASIC BOOTSTRAP TEMPLATE
              .mbr-section__container.mbr-section__container--middle
                .mbr-article.mbr-article--auto-align.mbr-article--wysiwyg
                  p
                    | Etiam euismod, elit non efficitur commodo, est nisl dictum lacus, a congue felis ex ut nibh. Sed cursus accumsan justo, luctus malesuada lectus feugiat vitae. Duis quis malesuada lectus, vitae mollis urna. Maecenas sit amet ipsum ipsum. Etiam varius sapien ac odio eleifend pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              .mbr-section__container
                .mbr-buttons.mbr-buttons--auto-align.btn-inverse
                  a.mbr-buttons__btn.btn.btn-lg.btn-default(href='https://mobirise.com/bootstrap-template/') LEARN MORE
    section#features1-80.content-2.col-3(style='background-color: rgb(239, 239, 239);')
      .container
        .row
          div
            .thumbnail
              .image
                img.undefined(src='../img/phone-350x350-12.png')
              .caption
                div
                  h3 MOBILE-FRIENDLY
                  p
                    | Sed vel vulputate lacus. Nulla et fringilla turpis. Etiam non urna magna. Fusce rutrum nec eros id dapibus. In tincidunt mi eget molestie condimentum.
          div
            .thumbnail
              .image
                img.undefined(src='../img/anemone-350x350-67.png')
              .caption
                div
                  h3 EASY-TO-USE
                  p
                    | Sed vel vulputate lacus. Nulla et fringilla turpis. Etiam non urna magna. Fusce rutrum nec eros id dapibus. In tincidunt mi eget molestie condimentum.
          div
            .thumbnail
              .image
                img.undefined(src='../img/clear-350x350-99.png')
              .caption
                div
                  h3 FREE
                  p
                    | Sed vel vulputate lacus. Nulla et fringilla turpis. Etiam non urna magna. Fusce rutrum nec eros id dapibus. In tincidunt mi eget molestie condimentum.
    section#msg-box3-81.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(255, 255, 255);')
      .mbr-section__container.container.mbr-section__container--isolated
        .mbr-header.mbr-header--wysiwyg.row
          .col-sm-8.col-sm-offset-2
            h3.mbr-header__text MASONRY IMAGE GALLERY
    section#gallery1-82.mbr-gallery.mbr-section.mbr-section--no-padding(style='background-color: rgb(239, 239, 239);')
      // Gallery
      .mbr-gallery-layout-default
        div
          .row.mbr-gallery-row.no-gutter
            .col-lg-3.col-md-4.col-sm-6.col-xs-12.mbr-gallery-item
              a(href='#lb-gallery1-82', data-slide-to='0', data-toggle='modal')
                img(alt='', src='../img/iphone-1067975-1920-1920x1439-11-1920x1439-53.jpg')
                span.icon.glyphicon.glyphicon-zoom-in
            .col-lg-3.col-md-4.col-sm-6.col-xs-12.mbr-gallery-item
              a(href='#lb-gallery1-82', data-slide-to='1', data-toggle='modal')
                img(alt='', src='../img/iphone-1067982-1920-1920x1439-68-1920x1439-47.jpg')
                span.icon.glyphicon.glyphicon-zoom-in
            .col-lg-3.col-md-4.col-sm-6.col-xs-12.mbr-gallery-item
              a(href='#lb-gallery1-82', data-slide-to='2', data-toggle='modal')
                img(alt='', src='../img/iphone-1067983-1920-1920x1440-44-1920x1440-62.jpg')
                span.icon.glyphicon.glyphicon-zoom-in
            .col-lg-3.col-md-4.col-sm-6.col-xs-12.mbr-gallery-item
              a(href='#lb-gallery1-82', data-slide-to='3', data-toggle='modal')
                img(alt='', src='../img/iphone-1067991-1920-1920x1440-57-1920x1440-37.jpg')
                span.icon.glyphicon.glyphicon-zoom-in
        .clearfix
      // Lightbox
      #lb-gallery1-82.mbr-slider.modal.fade.carousel.slide(data-app-prevent-settings='', tabindex='-1', data-keyboard='true', data-interval='false')
        .modal-dialog
          .modal-content
            .modal-body
              ol.carousel-indicators
                li(data-app-prevent-settings='', data-target='#lb-gallery1-82', data-slide-to='0')
                li(data-app-prevent-settings='', data-target='#lb-gallery1-82', data-slide-to='1')
                li(data-app-prevent-settings='', data-target='#lb-gallery1-82', data-slide-to='2')
                li.active(data-app-prevent-settings='', data-target='#lb-gallery1-82', data-slide-to='3')
              .carousel-inner
                .item
                  img(alt='', src='../img/iphone-1067975-1920-1920x1439-11.jpg')
                .item
                  img(alt='', src='../img/iphone-1067982-1920-1920x1439-68.jpg')
                .item
                  img(alt='', src='../img/iphone-1067983-1920-1920x1440-44.jpg')
                .item.active
                  img(alt='', src='../img/iphone-1067991-1920-1920x1440-57.jpg')
              a.left.carousel-control(role='button', data-slide='prev', href='#lb-gallery1-82')
                span.glyphicon.glyphicon-menu-left(aria-hidden='true')
                span.sr-only Previous
              a.right.carousel-control(role='button', data-slide='next', href='#lb-gallery1-82')
                span.glyphicon.glyphicon-menu-right(aria-hidden='true')
                span.sr-only Next
              a.close(href='#', role='button', data-dismiss='modal')
                span.glyphicon.glyphicon-remove(aria-hidden='true')
                span.sr-only Close
    section#msg-box2-83.msgbox-1(style='background-color: rgb(255, 255, 255);')
      .container
        .row
          .col-sm-8
            h2 BOOTSTRAP ONE PAGE TEMPLATE
          .col-sm-4
            a.btn.btn-lg.btn-default(href='https://mobirise.com/bootstrap-template/') GET IT NOW
    section#social-buttons2-84.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(240, 240, 240);')
      .mbr-section__container.container
        .mbr-header.mbr-header--inline.row
          .col-sm-4
            h3.mbr-header__text FOLLOW US
          .mbr-social-icons.mbr-social-icons--style-1.col-sm-8
            a.mbr-social-icons__icon.socicon-bg-twitter(title='Twitter', target='_blank', href='https://twitter.com/mobirise')
              i.socicon.socicon-twitter
            a.mbr-social-icons__icon.socicon-bg-facebook(title='Facebook', target='_blank', href='https://www.facebook.com/pages/Mobirise/1616226671953247')
              i.socicon.socicon-facebook
            a.mbr-social-icons__icon.socicon-bg-google(title='Google+', target='_blank', href='https://plus.google.com/u/0/+Mobirise/posts')
              i.socicon.socicon-google
            a.mbr-social-icons__icon.socicon-bg-youtube(title='YouTube', target='_blank', href='http://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw')
              i.socicon.socicon-youtube
            a.mbr-social-icons__icon.socicon-bg-instagram(title='Instagram', target='_blank', href='https://instagram.com/mobirise/')
              i.socicon.socicon-instagram
            a.mbr-social-icons__icon.socicon-bg-pinterest(title='Pinterest', target='_blank', href='https://www.pinterest.com/mobirise/')
              i.socicon.socicon-pinterest
            a.mbr-social-icons__icon.socicon-bg-behance(title='Behance', target='_blank', href='https://www.behance.net/Mobirise')
              i.socicon.socicon-behance
            a.mbr-social-icons__icon.socicon-bg-tumblr(title='Tumblr', target='_blank', href='http://mobirise.tumblr.com/')
              i.socicon.socicon-tumblr
            a.mbr-social-icons__icon.socicon-bg-linkedin(title='LinkedIn', target='_blank', href='https://www.linkedin.com/in/mobirise')
              i.socicon.socicon-linkedin
            a.mbr-social-icons__icon.socicon-bg-android(title='Google Play', target='_blank', href='https://play.google.com/store/apps/details?id=com.mobirise.mobirise')
              i.socicon.socicon-android
    section#features1-85.content-2.col-4(style='background-color: rgb(255, 255, 255);')
      .container
        .row
          div
            .thumbnail
              .image
                img.undefined(src='../img/workflow-350x350-59.png')
              .caption
                div
                  h3 PARALLAX SCROLLING
                  p
                    | Etiam lacinia volutpat magna, sed lobortis risus egestas in. Nunc fringilla urna ac libero venenatis molestie. Curabitur molestie mi quis mauris convallis aliquet. Cras pretium sapien mi, sed sagittis est ultrices at.
                p.group
                  a.btn.btn-default(href='https://mobirise.com/bootstrap-template/') LEARN MORE
          div
            .thumbnail
              .image
                img.undefined(src='../img/chrome-remote-desktop-350x350-23.png')
              .caption
                div
                  h3 FULL SCREEN INTRO
                  p
                    | Etiam lacinia volutpat magna, sed lobortis risus egestas in. Nunc fringilla urna ac libero venenatis molestie. Curabitur molestie mi quis mauris convallis aliquet. Cras pretium sapien mi, sed sagittis est ultrices at.
                p.group
                  a.btn.btn-default(href='https://mobirise.com/bootstrap-template/') LEARN MORE
          div
            .thumbnail
              .image
                img.undefined(src='../img/com-350x350-41.png')
              .caption
                div
                  h3 WEB FONTS
                  p
                    | Etiam lacinia volutpat magna, sed lobortis risus egestas in. Nunc fringilla urna ac libero venenatis molestie. Curabitur molestie mi quis mauris convallis aliquet. Cras pretium sapien mi, sed sagittis est ultrices at.
                p.group
                  a.btn.btn-default(href='https://mobirise.com/bootstrap-template/') LEARN MORE
          div
            .thumbnail
              .image
                img.undefined(src='../img/calculator-350x350-78.png')
              .caption
                div
                  h3 PRICE TABLES
                  p
                    | Etiam lacinia volutpat magna, sed lobortis risus egestas in. Nunc fringilla urna ac libero venenatis molestie. Curabitur molestie mi quis mauris convallis aliquet. Cras pretium sapien mi, sed sagittis est ultrices at.
                p.group
                  a.btn.btn-default(href='https://mobirise.com/bootstrap-template/') LEARN MORE
    section#pricing-table1-86.pricing-table-1.col-4(style='background-color: rgb(240, 240, 240);')
      .container
        .row
          div
            .plan.green
              h3 STANDARD
              p.price
                strong
                  sup $
                  span 0
                small per month
              div
                ul
                  li
                    strong 32 GB
                    |  Storage
                  li
                    strong Unlimited
                    |  Users
                  li
                    strong 15 GB
                    |  Bandwidth
              p
                a.btn.btn-success(href='https://mobirise.com/bootstrap-template/') DEMO LINK
          div
            .plan.orange
              h3 BUSINESS
              p.price
                strong
                  sup $
                  span 0
                small per month
              div
                ul
                  li
                    strong 80 GB
                    |  Storage
                  li
                    strong Unlimited
                    |  Users
                  li
                    strong 20 GB
                    |  Bandwidth
              p
                a.btn.btn-success(href='https://mobirise.com/bootstrap-template/') DEMO LINK
          div
            .plan.favorite
              h3 PREMIUM
              p.price
                strong
                  sup $
                  span 0
                small per month
              div
                ul
                  li
                    strong 100 GB
                    |  Storage
                  li
                    strong Unlimited
                    |  Users
                  li
                    strong 50 GB
                    |  Bandwidth
              p
                a.btn.btn-success(href='https://mobirise.com/bootstrap-template/') DEMO LINK
          div
            .plan.blue
              h3 ULTIMATE
              p.price
                strong
                  sup $
                  span 0
                small per month
              div
                ul
                  li
                    strong Unlimited
                    |  Storage
                  li
                    strong Unlimited
                    |  Users
                  li
                    strong 1TB GB
                    |  Bandwidth
              p
                a.btn.btn-success(href='https://mobirise.com/bootstrap-template/') DEMO LINK
    section#social-buttons1-87.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(247, 218, 100);')
      .mbr-section__container.container
        .mbr-header.mbr-header--inline.row
          .col-sm-4
            h3.mbr-header__text SHARE THIS PAGE!
          .mbr-social-icons.col-sm-8
            .mbr-social-likes.social-likes_style-1(data-counters='true')
              .mbr-social-icons__icon.social-likes__icon.facebook.socicon-bg-facebook(title='Share link on Facebook')
                i.socicon.socicon-facebook
              .mbr-social-icons__icon.social-likes__icon.twitter.socicon-bg-twitter(title='Share link on Twitter')
                i.socicon.socicon-twitter
              .mbr-social-icons__icon.social-likes__icon.plusone.socicon-bg-google(title='Share link on Google+')
                i.socicon.socicon-google
    section#testimonials1-88.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(255, 255, 255);')
      div
        .mbr-section__container.mbr-section__container--std-padding.container
          .row
            .col-sm-12
              h2.mbr-section__header WHAT OUR FANTASTIC USERS SAY
              ul.mbr-reviews.mbr-reviews--wysiwyg.row
                li.mbr-reviews__item.col-sm-6.col-md-4
                  .mbr-reviews__text
                    p.mbr-reviews__p
                      | “Nullam cursus sed nibh nec commodo. Ut mattis mi at magna vestibulum, vel mattis dolor vulputate. Vestibulum egestas libero sit amet nisi feugiat, id molestie quam cursus. ”
                  .mbr-reviews__author.mbr-reviews__author--short
                    .mbr-reviews__author-name NANCY
                    .mbr-reviews__author-bio User
                li.mbr-reviews__item.col-sm-6.col-md-4
                  .mbr-reviews__text
                    p.mbr-reviews__p
                      | “Curabitur dignissim tempus libero at aliquam. Sed arcu nisi, maximus sit amet nulla quis, faucibus sollicitudin lacus. Quisque sed nulla at leo cursus finibus sed hendrerit risus. Maecenas euismod faucibus ornare. Sed tellus elit, fringilla in malesuada nec, volutpat vel ligula.”
                  .mbr-reviews__author.mbr-reviews__author--short
                    .mbr-reviews__author-name JOHN
                    .mbr-reviews__author-bio User
                li.mbr-reviews__item.col-sm-6.col-md-4
                  .mbr-reviews__text
                    p.mbr-reviews__p
                      | “In tempus arcu a urna maximus, at porta felis laoreet. Vestibulum dui ipsum, varius ac ante sed, volutpat faucibus mauris. Morbi viverra ipsum ut lacinia pretium. Vivamus sit amet quam sed lorem rhoncus gravida. ”
                  .mbr-reviews__author.mbr-reviews__author--short
                    .mbr-reviews__author-name MARK
                    .mbr-reviews__author-bio User
    section#form1-89.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(239, 239, 239);')
      .mbr-section__container.mbr-section__container--std-padding.container
        .row
          .col-sm-12
            .row
              .col-sm-8.col-sm-offset-2(data-form-type='formoid')
                .mbr-header.mbr-header--center.mbr-header--std-padding
                  h2.mbr-header__text CONTACT FORM
                div(data-form-alert='true')
                form(action='https://mobirise.com/', method='post', data-form-title='CONTACT FORM')
                  input(type='hidden', value='', data-form-email='true')
                  .form-group
                    input.form-control(type='text', name='name', required='', placeholder='Name*', data-form-field='Name')
                  .form-group
                    input.form-control(type='email', name='email', required='', placeholder='Email*', data-form-field='Email')
                  .form-group
                    input.form-control(type='tel', name='phone', placeholder='Phone', data-form-field='Phone')
                  .form-group
                    textarea.form-control(name='message', placeholder='Message', rows='7', data-form-field='Message')
                  .mbr-buttons.mbr-buttons--right
                    button.mbr-buttons__btn.btn.btn-lg.btn-warning(type='submit') CONTACT US